
:root {
    --background-color: #FFFFFF;
    --menu-text: #404BBF;
    --text-h2-h3-p: #2E2F42;
}

body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: var(--background-color);
}

ul {
list-style-type: none;
}

.link {
text-decoration: none;
}


/*--------- HEADER---------*/

.header-web {
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.header-web-color{
color: #4D5AE5;
}

.header-web-menu{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-address-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*--------- HOME---------*/

.home {
background-color: #2E2F42;
}

.home-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.home-btn {
background-color: #4D5AE5;;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.button-class {
cursor: pointer;
}

/*--------- StraTech---------*/

.StraTech {}

.StraTech-list {}

.StraTech-item {
}

.StraTech-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--text-h2-h3-p);
}

.StraTech-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #434455;
}

/*---------What---------*/

.what {}

.what-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-h2-h3-p);
}

.what-img {}

/*---------team---------*/

.team {}

.team-main {
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-h2-h3-p);
}

.team-item {}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-h2-h3-p);
}

.team-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-h2-h3-p);
}

/*---------footer---------*/

.footer{
background-color: #2E2F42;
}

.footer-logo {
font-weight: 800;
font-size: 18px;
line-height: 1,17;
letter-spacing: 0.03em;
color: #F4F4FD;
}

.footer-logo-color {
color: #2E2F42;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-h2);
}

/*---------portfolio-btn--------*/

.btn-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}

/*---------portfolio-desc--------*/

.desc {}

.desk-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;}

.desk-point {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color: #434455;
}
